.Pokedex-components{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    background-color: #e0fbfc;
    background: rgb(255,200,221);
    background: linear-gradient(0deg, #fcf6bd 0%, #d0f4de 50%,#a9def9 100%);
}
.Pokedex-navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: #ef476f;
    margin: 0 ;
    padding: 0;
}
.Pokedex-navitem{
    display: inline;
    color: white;
    width: 25%;
}
.Pokedex-navitem:hover{
    border-color: #ff99c8;
    background-color: #bc00dd;
    box-shadow: 4px 2px 28px -1px #db00b6;
    /*transform: translateY(+0.25em);*/
    scale: 1.1;
    cursor: pointer;
    transition: all .5s;
}